.enter-form {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 50px 30px 30px 30px;
  background: linear-gradient(180deg, #e5f7ff 0%, #f2fbff 56.77%, #fff 100%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;

  &__title {
    margin-bottom: 38px;
    text-align: center;

    @include font(20,20);
  }

  &__button {
    margin-top: 154px;
  }

  &__form {
    margin-bottom: 14px;
  }

  &__link {
    & .link {
      margin: auto;
      color: $dark-blue;

      &::after {
        display: none;
      }
    }
  }
}
