.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid $blue;

  &__info {
    display: flex;
    align-items: center;
    padding-left: 125px;
  }

  &__name {
    @include font(13,13);

    font-weight: 600;
    color: $black;
  }

  &__avatar {
    width: 34px;
    height: 34px;
    margin-right: 10px;
  }

  &__actions {
    margin-right: 40px;
  }
}
