.footer {
  display: flex;
  align-items: center;
  border-top: 1px solid $blue;
  padding: 16px 86px 16px 16px;
}

.actions-footer {
  margin-right: 23px;

  &__wrapper {
    top: auto;
    left: 0;
    right: auto;
    bottom: 32px;
    padding-top: 0;
    padding-bottom: 32px;
  }
}

.form-message {
  flex-grow: 1;

  &__form {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__textarea {
    width: 100%;
    min-height: 64px;
    margin-right: 38px;
    padding: 26px 32px;

    @include font(12,12);

    background-color: $light-blue;
    resize: none;
    border: none;
    outline: none;
    border-radius: 30px;

    &::placeholder {
      color: $gray;
    }
  }

  &__button {
    width: 47px;
    height: 47px;
  }
}
