// colors
$black: #1e1e1e;
$blue:#6587f0;
$dark-blue:#3369f3;
$light-blue:#e5f7ff;
$bg:#efefef;
$gray:#999;
$light-gray:#f8f8f8;
$white:#fff;
$pink:rgba(252, 230, 255, 0.53);
$red: #f00;

// fonts
$font_base: 16;
$font_base_px: $font_base * 1px;
