// colors
$black: #1E1E1E;
$blue:#6587F0;
$dark-blue:#3369F3;
$light-blue:#E5F7FF;
$bg:#EFEFEF;
$gray:#999999;
$light-gray:#F8F8F8;
$white:#ffffff;
$pink:rgba(252, 230, 255, 0.53);
$red: #FF0000;

// fonts
$font_base: 16;
$font_base_px: $font_base * 1px;