.actions {
  position: relative;
  width: 32px;
  height: 32px;
  &:hover {
    .actions__wrapper {
      opacity: 1;
      pointer-events: auto;
    }
    .actions__button {
      svg {
        fill: $dark-blue;
      }
    }
  }
  &__button {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg {
      fill: $blue;
    }

  }
  &__wrapper {
    display: block;
    position: absolute;
    padding-top: 24px;
    top: 32px;
    right: 0;
    width: 210px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
  }
  &__list {
    padding: 15px;
    background-color: $white;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    list-style: none;
  }
  &__item {
    margin-bottom: 16px;
    @include font(12,14);
    cursor: pointer;
    transition: color .3s;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $dark-blue;
    }
    button {
      display: flex;
      align-items: center;
      svg {
        margin-right: 15px;
      }
    }
  }
}